html {
    margin:0;
    padding:0;
    background: url("img/wallpaperchristmas.jpg")  no-repeat center fixed;
    background-size: cover;

}

#imgyeti img {
    width : 200px;
    position:absolute;

}

#imgyeti {
    margin-left: 250px;
    margin-top: 160px;
}

#sentence {
    text-align: center;
    color: darkred;
    font-size: 6em;
    font-family: 'Merienda One', cursive;
}

#cadre {
    width : 100%;
    height: 60vh;
    border: 1px solid transparent;
}

.yetisentence {
    position: absolute;
    width:200px;
    margin: 20px;
    border-radius: 25px;
    padding:10px;
    background-color: rgba(255,255,255,0.7);
}

.social-network {
    font-size:2em;
    text-align: center;
}

.social-network a {

    color: black;
    font-weight: bold;
}

