html {
    margin:0;
    padding:0;
    background: url("wallpaperchristmas.jpg")  no-repeat center fixed;
    background-size: cover;
}

#imgyeti img {
    width : 150px;
    position:absolute;
    background-color:#d2fcd9;

}
